:root {
  --menu-height: 3rem;
}

/* Fuentes */
@font-face {
  font-family: "Fajala";
  src: url("../fonts/fuente.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body {
  background: url("../img/cubes.png");
  font-family: sans-serif, Helvetica, Arial;
}

.clearfix {
  clear: both;
  display: none;
}

header {
  width: 85%;
  margin: 0 auto;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Logotipo */
.logo {
  width: 540px;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  margin: 0;
  font-family: "Fajala", Helvetica;
  font-size: 40px;
  letter-spacing: 2px;
  color: #2979cd;
  text-shadow: 0 0 0 #000, 1px 1px 0 #000, 2px 2px 0 #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 5rem;
  margin-left: 1rem;
}

h1:hover {
  text-shadow: 0 0 0 #000, -1px -1px 0 #000, -2px -2px 0 #000;
}

/* MENU */
.menu-nav {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e9e9e9));
  background: linear-gradient(#f9f9f9 0, #e9e9e9 100%);
  height: var(--menu-height);
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px #eee;
          box-shadow: 0 2px 2px #eee;
  overflow: hidden;
}

.menu-nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.menu-item {
  border-right: 1px solid #d6d6d6;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 15px;
  color: #838282;
}

.menu-link:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), to(#dad9d4));
  background: linear-gradient(#f2f2f2 0, #dad9d4);
}

/* CONTENIDO */
.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.principal {
  width: 65%;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  margin-left: 20px;
}

.principal h2 {
  font-family: 'Fajala';
  font-size: 2em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #ccc;
  color: #444;
  text-align: center;
}

.sidebar {
  width: 30%;
}

.entrada {
  margin-top: 2rem;
}

.titulo-entrada {
  font-size: 1.5em;
  font-family: 'Fajala';
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #ccc;
  color: #2979CD;
  margin-bottom: 5px;
}

.desc-entrada {
  color: #333;
}

.ver-entradas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ver-entradas a {
  border: 1px solid #156785;
  border-radius: 4px;
  background: #007ee5;
  padding: 0.8em;
  color: #fff;
  margin: 2rem auto;
}

.date {
  color: #9b9595;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1em;
}

[class^="add-"] {
  margin-top: 1rem;
}

[class$="message"] {
  margin-top: 1.5rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.add-entry {
  margin-top: 0;
}

textarea {
  resize: none;
}

select {
  margin-left: 1rem;
  padding: 0.3em;
}

.user-entry {
  margin-left: 1.9rem;
}

/* Barra lateral */
.block-aside {
  width: 90%;
  margin: 4rem auto;
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3), 0 -3px 2px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3), 0 -3px 2px rgba(0, 0, 0, 0.3) inset;
}

.block-aside form {
  margin-top: 1rem;
}

.login {
  margin-top: 0;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 5px;
}

.user-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

input[type="submit"],
input[type="button"],
[class$="button"] {
  margin-top: 1rem;
  border: 1px solid #156785;
  border-radius: 4px;
  background: #007ee5;
  padding: 0.8em;
  color: #fff;
  cursor: pointer;
}

[class$="button"] {
  width: 75%;
  text-align: center;
}

.entry-button {
  background: #21b921;
  border-color: green;
}

.data-button {
  background: orange;
  border-color: #bd7d08;
}

.category-button {
  background: #006064;
  border-color: #00363a;
}

.alerta {
  font-size: 13m;
  padding: 0.5em;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px #ccc;
          box-shadow: 0 1px 3px #ccc;
  border-radius: 2px;
  margin-top: 1rem;
}

.alerta-exito {
  background-color: #00a500;
}

.alerta-error {
  background-color: #f00;
  font-weight: bold;
}

footer {
  margin: 1rem auto;
  margin-bottom: 0;
  padding: 1em;
  border: 1px solid #c9c9c9;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e9e9e9));
  background: linear-gradient(#f9f9f9 0, #e9e9e9 100%);
}
/*# sourceMappingURL=style.css.map */