/* Barra lateral */

.block-aside {

  width: 90%;
  margin: 4rem auto;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 1px rgba(#000, 0.3), 0 3px 7px rgba(#000, 0.3), 0 0 1px rgba(#000, 0.3),
    0 -3px 2px rgba(#000, 0.3) inset;

  form {
    margin-top: 1rem;
  }
}

.login {
    margin-top: 0;
}


label,
input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 5px;
}

.user-logged {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

input[type="submit"],
input[type="button"],
[class$="button"] {  
  margin-top: 1rem;
  border: 1px solid #156785;
  border-radius: 4px;
  background: #007ee5;
  padding: 0.8em;
  color: #fff;
  cursor: pointer;
}

[class$="button"] {  
  width: 75%;
  text-align: center;
}

.entry-button {
  background: #21b921;
  border-color: green;
}

.data-button {
  background: orange;
  border-color: #bd7d08;
}

.alerta {
  font-size: 13m;
  padding: 0.5em;
  color: #fff;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 2px;
  margin-top: 1rem; 
}

.alerta-exito {
  background-color: rgb(0, 165, 0); 
  
}

.alerta-error {
  background-color: #f00;  
  font-weight: bold;
}
