/* CONTENIDO */

.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.principal {
  width: 65%;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 5px #ccc;
  margin-left: 20px;

  h2 {
    font-family: "Fajala";
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    color: #444;
    text-align: center;
  }

  .entry-title {
    line-height: 1.5;
  }
}

.category {
  font-family: "Fajala";
  color: #2979cd;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  span {
    color: #000;
  }
}

.description-entry {
  line-height: 1.5;
  text-align: justify;
}

.empty-entries {
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  width: 30%;
}

.entrada {
  margin-top: 2rem;
}

.titulo-entrada {
  font-size: 1.5em;
  font-family: "Fajala";
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #ccc;
  color: #2979cd;
  margin-bottom: 5px;
}

.desc-entrada {
  color: #333;
}

.ver-entradas {
  display: flex;

  a {
    border: 1px solid #156785;
    border-radius: 4px;
    background: #007ee5;
    padding: 0.8em;
    color: #fff;
    margin: 2rem auto;
  }
}

.date {
  color: #9b9595;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1em;
}

// Titulos y mensajes del contenido ppal

[class^="add-"] {
  margin-top: 1rem;
}

[class$="message"] {
  margin-top: 1.5rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.add-entry {
  margin-top: 0;
}

textarea {
  resize: none;
}

select {
  margin-left: 1rem;
  padding: 0.3em;
}

// Botones de las entradas

a {
  &.delete-button,
  &.update-button {
     margin-left: 1rem;
  }

  &.update-button {
    background: #05477d;
    margin-left: 0;
  }

  &.delete-button {
    background: #f00;
  }
}

// Fecha en cada una de las entradas

h3.date {
  margin-bottom: 0;
}

.container-entry {
  display: flex;
  justify-content: space-between;
}

.header-entry {
  width: 25%;
}

.buttons-entry {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-entry {
  margin-top: 1.5rem;
}


